<div class= "container">
    <div class="col-12 col-sm-6 mb-4 d-flex">
      <div class= "name_&_photo" >
        <h1><%= @wig.name %></h1>
        <%= image_tag @wig.photo,
        width:300 %>
      </div>
      <div class="card_infos_wigs" >
          <p><strong>Description : </strong><%= @wig.description %> </p>
          <p><strong>Couleur : </strong> <%= @wig.color %> </p>
          <p><strong>Description : </strong><%= @wig.renting_price %> €/jour</p>
        </div>
      </div>
      <div class="bg-white rounded p-3 shadow">
        <h3>Louer la perruqe</h3>
        <%= simple_form_for @bookings do |f| %>
          <%= f.input :start_date, placeholder: 'Début de location' %>
          <%= f.input :end_date, placeholder: 'Fin de location' %>
          <%= f.submit class: 'btn btn-primary' %>
      <% end %>
    </div>
</div>

