<div class="row mes-resas">
  <div class="col-sm-6">
    <h3> Mes réservations </h3>
    <div class="card-product">
      <div class="image_title"></div>
        <% @bookings_renter.each do |booking| %>
          <%= image_tag booking.wig.photo, width: 100 %>
          <div class="card-product-infos">
            <h5 class="card-title"> Votre réservation pour <strong><%= booking.wig.name %></strong> </h5>
            <p class="card-text"> 📅  <%= booking.start_date %> - <%= booking.end_date %></p>
            <p class= btn-btn-primary> Statut : <%= booking.status %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="col-sm-6">
        <div><h3> Mes demandes de location</h3>
        <div class="card m-2">
      <% @bookings_owner.each do |booking| %>
            <div class="card-body">
              <p class= "btn-btn-warning"> Reservation  <%= image_tag booking.wig.photo, width:100 %>
              <p class="fw-lighter">Reservation du <%= booking.start_date %> au <%= booking.end_date %> par <%= booking.user.name %></p>
              <p class= btn-btn-warning> Statut : <% if booking.status == "pending" %>
                <%= "En attente" %>
              <% elsif booking.status == "validated" %>
                <%= "Validée" %>
              <% elsif booking.status == "declined" %>
                <%= "Refusée" %>
              <% end %>
              <% if booking.status == "pending" %>
                <%= button_to "Accepter", accept_owner_booking_path(booking), method: :patch %>
                <%= button_to "Refuser", decline_owner_booking_path(booking), method: :patch %>
              <% end %>
            </div>
          </div>
      <% end %>
      </div>
</div>
