<div class="navbar navbar-expand-sm navbar-light navbar-hairbnb">
  <div class="container-fluid">
    <%= link_to "#", class: "navbar-brand" do %>
      <%=   age_tag "HAIR BnB logo.png" %>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <%# if user_signed_in? %>
        <div class="searchbar d-flex">
          <li class="nav-item active">
            <form class="d-flex" role="search">
            <input class="form-control me-4" type="search" placeholder="Que cherches-tu?" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Chercher</button>
            </form>
        </div>
          <li class="nav-item dropdown">
            <%= image_tag "bruce-willis.jpeg", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "Messages", "#", class: "dropdown-item" %>
              <%= link_to "Favoris", "#", class: "dropdown-item" %>
              <%= link_to "Aide", "#", class: "dropdown-item" %>
              <%= link_to "Déconnexion", "#", class: "dropdown-item", data: {turbo_method: :delete} %>
            </div>
          </li>
      </ul>
    </div>
  </div>
</div>
